<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MAHATourism</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Save</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>Servlets.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>Servlets.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Servlets.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Servlets.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>Servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfile</display-name>
    <servlet-name>CustomerProfile</servlet-name>
    <servlet-class>Servlets.CustomerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfile</servlet-name>
    <url-pattern>/CustomerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit2</display-name>
    <servlet-name>Edit2</servlet-name>
    <servlet-class>Servlets.Edit2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit2</servlet-name>
    <url-pattern>/Edit2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteuser</display-name>
    <servlet-name>Deleteuser</servlet-name>
    <servlet-class>Servlets.Deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuser</servlet-name>
    <url-pattern>/Deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserView</display-name>
    <servlet-name>UserView</servlet-name>
    <servlet-class>Servlets.UserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserView</servlet-name>
    <url-pattern>/UserView</url-pattern>
  </servlet-mapping>
</web-app>